<!--
 * @Descripttion: 注册登录页
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-08-24 13:47:04
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-05 17:30:02
 -->
<template>
  <div class="main">
    <div class="m-register p-all">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="注册" name="register"></el-tab-pane>
        <el-tab-pane label="登录" name="login"></el-tab-pane>
      </el-tabs>
      <el-form
      :model="ruleForm"
      status-icon
      :rules="rules"
      ref="register"
      label-width="100px"
      label-position="left"
      class="demo-ruleForm"
      v-show="activeName === 'register'"
    >
        <el-form-item label="昵称" prop="nickname">
          <el-input clearable type="text" v-model="ruleForm.nickname" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="pass">
          <el-input clearable type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPass">
          <el-input clearable type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item prop="email" label="邮箱">
          <el-input clearable v-model="ruleForm.email"></el-input>
        </el-form-item>
        <el-form-item prop="code" label="验证码">
          <el-col :span="17">
            <el-input clearable type="tel" v-model="ruleForm.code"></el-input>
          </el-col>
          <el-col :span="1">
            <div style="height:1px"></div>
          </el-col>
          <el-col :span="6">
            <el-button @click.prevent="sendCode()" :disabled="sendStatus !== '发送'">{{sendStatus}}</el-button>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('register')">提交</el-button>
        </el-form-item>
      </el-form>
      <el-form
      :model="ruleForm"
      status-icon
      :rules="rules"
      ref="login"
      label-width="100px"
      label-position="left"
      class="demo-ruleForm"
      v-show="activeName === 'login'"
    >
      <el-form-item prop="email" label="邮箱">
        <el-input clearable v-model="ruleForm.email"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="pass">
        <el-input clearable type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('login')">提交</el-button>
      </el-form-item>
    </el-form>

    </div>
  </div>
</template>

<script lang="ts" src="./identity.ts"></script>

<style lang="sass" scoped>
 @import './identity.scss'
</style>