.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-form-item {
  text-align: left;
  margin-bottom: 20px;
}

.m-register {
  background: #ffffff;
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
