<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-08-30 10:42:36
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-06 12:15:41
 -->
<template>
  <div class="articles-list">
    <div class="Tj-articles" v-if="msg == 'tuijian'">
      <router-link to="/essayDetails" class="fontcolor" target="_blank">
        <div class="articles-list-title"><span>文章标签</span>文章标题内容</div>
        <div class="articles-list-content">
          <img src="../../../public/img/zhanweitu.jpg">
          <div>文章正文内容展示区域默认展示五行文章正文内容展示区域默认展示五行文章正文内容展示区域默认展示五行文章正文内容展示区域默认展示五行</div>
        </div>
      </router-link>
      <div class="articles-list-zt">
        <div class="fb-ren"><router-link to="/">发布人姓名</router-link></div>
        <div class="fb-time">2019-01-05 08:50</div>
        <div class="browse">1000浏览量</div>
        <div class="comment"><router-link to="/">100评论</router-link></div>
        <div :class="loveShow ? 'loveSolid' : 'love'" @click="love">喜欢</div>
      </div>
    </div>
    <div class="CNlove" v-if="msg == 'love'">
      <router-link to="/essayDetails" class="fontcolor" target="_blank">
        <div class="articles-list-content" style="margin-top: initial;">
          <img src="../../../public/img/zhanweitu.jpg" style="height:110px;">
          <div class="love-list" style="padding: initial;">
            <div style="-webkit-line-clamp: 2;color:#00a67c;width: initial;">文章正文内容展示区域默认展示五行文章正文内容展示区域默认展示五行文章正文内容展示区域默认展示五行文章正文内容展示区域默认展示五行</div>
            <div class="articles-list-zt">
              <div class="fbtime">2019-01-05</div>
              <div class="pinglun">300评论</div>
            </div>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Articles extends Vue {
  @Prop() protected msg!: string;
  private loveShow: any = false;
  public love() {
    this.loveShow = !this.loveShow;
  }
}
</script>
<style scoped lang="scss">
</style>
