@media only screen and (min-width: 1200px) {
  .el-menu-item {
    padding: 0 40px;
  }
}

body {
  margin: 0px !important;
  background: #f7f7f7;
}

a {
  text-decoration: initial;
}

.header .el {
  width: 100%;
}

.el-menu.el-menu--horizontal {
  border-bottom: initial !important;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #545c64;
}

.logo {
  width: 220PX;
  padding: initial !important;
  border-bottom: 0px solid transparent !important;
  margin-right: 74px !important;
}

.logo img {
  width: 100%;
  height: 100%;
  margin-top: -2px;
}

.user {
  display: flex;
  line-height: 60px;
  float: right !important;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #eeeeee;
  margin: 10px 10px 10px 0;
  object-fit: cover;
}

.Welcome {
  background: #ffffff;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #838287;
  font-size: 14px;
}

<<<<<<< HEAD
.welcome-img {
  background: url(../public/img/laba.png) no-repeat 0% 50%/18px 18px;
  padding-left: 24px;
}

.tg-img {
  color: #00a67c;
  background: url(../public/img/wode.png) no-repeat 0% 50%/16px 16px;
  padding-left: 20px;
=======
.emoji-vue-wraper .emoji-picker-container .emoji-wysiwyg-editor {
  height: 100px !important;
  padding: 10px;
  padding-right: 10;
}

.emoji-vue-wraper .emoji-picker-container .emoji-picker-icon {
  left: 0;
  bottom: 0;
  top: 154px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
>>>>>>> 4c6b28bcc406554751ff5597406f52c50fe3f05c
}
