@media only screen and (min-width: 1200px) {
  .el-menu-item {
    padding: 0 40px;
  }
}

body {
  margin: 0px !important;
  background: #f7f7f7;
}

a {
  text-decoration: initial;
}

<<<<<<< HEAD
.el-carousel--horizontal {
  background-color: #545c64;
  margin-top: 10px;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.8;
  line-height: 400px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.content {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 69%;
}

.content-right {
  width: 30%;
}

=======
>>>>>>> 4c6b28bcc406554751ff5597406f52c50fe3f05c
.Tj-articles {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
}

.articles-list-title {
  display: flex;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  color: #00a67c;
}

.articles-list-title span {
  font-size: 14px;
  padding: 0 10px;
  color: #ffffff;
  background: #d9534f;
  border-radius: 4px;
  margin-right: 20px;
}

.articles-list-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.articles-list-content img {
  width: 36%;
  height: 150px;
}

.articles-list-content div {
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  display: -webkit-box;
  text-align: left;
  line-height: 30px;
  padding: 12px 0;
}

.fontcolor {
  color: #202020;
}

.articles-list-zt {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}

.fb-wzbq {
  background: url(../../../public/img/biaoqian.png) no-repeat 0% 50%/16px 16px;
  padding-left: 20px;
}

.fb-wzbq a {
  color: #00a67c;
}

.fb-ren {
  background: url(../../../public/img/wode.png) no-repeat 0% 50%/16px 16px;
  padding-left: 20px;
}

.fb-ren a {
  color: #00a67c;
}

.fb-time {
  background: url(../../../public/img/time.png) no-repeat 0% 50%/18px 18px;
  padding-left: 22px;
  color: #999999;
}

.browse {
  background: url(../../../public/img/liulan.png) no-repeat 0% 50%/20px 20px;
  padding-left: 24px;
  color: #999999;
}

.comment {
  background: url(../../../public/img/pinglun.png) no-repeat 0% 50%/22px 22px;
  padding-left: 26px;
}

.comment a {
  color: #00a67c;
}

.CNlove {
  padding: 20px 0;
  box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.love {
  background: url(../../../public/img/love.png) no-repeat 0% 90%/16px 16px;
  padding-left: 20px;
  color: #d9534f;
}

.loveSolid {
  background: url(../../../public/img/love-chenggong.png) no-repeat 0% 60%/16px 16px;
  padding-left: 20px;
  color: #d9534f;
}

.Title {
  text-align: left;
  border-bottom: 1px solid #00a67c;
  padding: 0 0 20px 0;
  background: #ffffff;
}

.love-list > .articles-list-zt {
  display: flex;
  justify-content: space-between;
  margin-top: initial;
  padding: initial;
  line-height: initial;
  width: initial;
  color: #999999;
}

.love-list > .articles-list-zt div {
  padding: initial;
  line-height: 20px;
  width: initial;
}

.cnxh {
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
}

.topics-ztimg {
  width: 100%;
  height: 180px;
  position: relative;
  margin-top: 20px;
}

.rm-title {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
}

.cnxhtop {
  margin-top: 10px;
}

.topics-list {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #ffffff;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}

.bq-list {
  padding: 0 16px 0 6px;
  background: #eeeeee;
  font-size: 14px;
  color: #ffffff;
  height: 26px;
  line-height: 26px;
  float: left;
  margin: 10px 10px 0 0;
}

.WZ-list {
  float: left;
  color: #00a67c;
  margin: 10px 46px 0 0;
}

.ss0 {
  background: red;
}

.ss1 {
  background: #00a67c;
}

.ss2 {
  background: #4d4dff;
}

.ss3 {
  background: #a67d3d;
}

.ss4 {
  background: #5c4033;
}

.ss5 {
  background: #3299cc;
}

.ss6 {
  background: #cc3299;
}

.ss7 {
  background: #ff7f00;
}

.ss8 {
  background: #2f4f4f;
}

.ss9 {
  background: #32cd32;
}

.ss10 {
  background: #855e42;
}

.ss11 {
  background: #8f8fbd;
}

.ss12 {
  background: #4d4dff;
}

.mes-content {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.message-wrap {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 10px;
  padding: 20px 0;
}

.message-title {
  background: #f7f7f7;
  height: 50px;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  line-height: 50px;
}

.message-title > img {
  width: 32px;
  height: 32px;
  margin-top: 9px;
  display: block;
  background: #cacaca;
}

.message-title > font {
  font-size: 14px;
  margin-left: 10px;
}

.emoji {
  margin: 20px 20px 20px 20px;
  font-size: 14px;
  text-align: left;
}

.emoji-submit {
  margin: 30px 0 0 30px;
  display: flex;
  justify-content: space-between;
  color: #999999;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}

.submit {
  padding: 0px 20px;
  box-sizing: border-box;
  background: #00a67c;
  color: #ffffff;
  font-size: 14px;
}

.tucao {
  background: url(../../../public/img/pinglunlvse.png) no-repeat 0% 50%/22px 22px;
  padding-left: 28px;
  color: #00a67c;
  text-align: left;
  font-size: 14px;
  margin: 0 20px 10px 20px;
}

.Comments {
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #00a67c;
}

.Comments-warp {
  display: flex;
  background: #fbfdfb;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  padding: 10px;
}

.Comments-warp > img {
  width: 50px;
  height: 50px;
}

.Comments-right {
  text-align: left;
  margin-left: 20px;
  font-size: 14px;
  flex: 1;
}

.Comments-right-top {
  min-height: 30px;
  max-height: auto;
  font-size: 16px;
}

.Comments-right-bot {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.meslove {
  background: url(../../../public/img/love.png) no-repeat 0% 60%/14px 14px;
  padding-left: 18px;
  color: #d9534f;
}

.mesloveSolid {
  background: url(../../../public/img/love-chenggong.png) no-repeat 0% 60%/14px 14px;
  padding-left: 18px;
  color: #d9534f;
}

.mesNolove {
  background: url(../../../public/img/pinglunhuise.png) no-repeat 0% 60%/14px 14px;
  padding-left: 18px;
  color: #999999;
}

.mesNoSolid {
  background: url(../../../public/img/pinglunhuiseyixuanzhong.png) no-repeat 0% 60%/14px 14px;
  padding-left: 18px;
  color: #999999;
}

.mes-list > font {
  margin-right: 20px;
}
