<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-09-09 16:10:17
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-20 10:46:35
 -->
<template>
  <div class="WriteArticle-wrap">
    <el-form ref="form" status-icon :model="form" :rules="rules" label-width="82px">
      <el-form-item label="文章标题" prop="title">
        <el-input clearable v-model="form.title"></el-input>
      </el-form-item>
      <el-form-item label="文章内容" prop="content">
        <vue-editor v-model="form.content"></vue-editor>
      </el-form-item>
      <el-form-item label="文章标签" prop="tags">
        <el-select v-model="form.tags" placeholder="请选择文章标签">
          <el-option :label="item.label" :value="item.value" v-for="(item,index) in taglist" :key="index"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item style="text-align: center;">
        <el-button type="primary" @click="onSubmit('form')">发布</el-button>
        <el-button @click="editCancel">保存草稿</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script lang="ts" src="./WriteArticle.ts"></script>

<style lang="scss" scoped>
  @import './WriteArticle.scss';
  .WriteArticle-wrap {
    width: 100%;
    background: #ffffff;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
  }
</style>

