@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px auto;
  font-family: Arial;
  width: 100%;
  background: #FFFFFF;
  color: #333; }

div, table, td {
  margin: 0px;
  padding: 0px; }

ul, li {
  list-style: none; }

img, a img, textarea {
  border: 0; }

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .clearfix {
  height: 1%; }

* + html .clearfix {
  min-height: 1%; }

a {
  text-decoration: none;
  color: #333; }

a:focus {
  outline: none; }

input, textarea {
  font-family: Arial;
  outline: none; }

input, input[type="submit"], input[type="reset"], input[type="button"], button {
  -webkit-appearance: none; }

img, a img {
  border: 0; }

a, button, input, textarea, label, li, em, b, div, li, i {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  outline: none;
  font-style: normal; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaa; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #aaa; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaa; }

input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  /* mobile firefox too! */ }

.fl {
  float: left; }

.fr {
  float: right; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.p-all {
  padding: 10px; }

.p-row {
  padding: 0 10px; }

.p-col {
  padding: 10px 0; }

.f-hr {
  height: 0.1rem;
  border: 1px solid #F1F1F1;
  border-left: none;
  border-right: none;
  background: #F2F2F2; }

html, body {
  width: 100%;
  height: 100%; }

/* 注册登录 */
.m-register {
  width: 400px;
  padding: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 4px; }

/*# sourceMappingURL=style.css.map */
