.demo-input-suffix,
.cnxh {
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
}

.demo-input-suffix {
  margin-bottom: 10px;
}

.content {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 69%;
}

.content-right {
  width: 30%;
}
