<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-09-02 14:05:42
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-06 12:09:10
 -->
<template>
  <div class="essay">
    <div class="content">
      <div class="content-left">
        <Articles msg="tuijian"/>
      </div>
      <div class="content-right">
        <Topics msg="topics"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Articles from '@/components/Articles/Articles.vue';
import Topics from '@/components/Topics/Topics.vue';

@Component({
  components: {
    Topics, Articles,
  },
})
export default class Essay extends Vue {}
</script>
<style scoped lang="scss">
  @import '/css/style.css';
  .demo-input-suffix,
  .cnxh{
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
  }
  .demo-input-suffix{
    margin-bottom: 10px;
  }
</style>
