<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-08-30 10:42:36
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-03 14:21:15
 -->
<template>
  <div class="topics">
    <div class="cnxh">
      <div class="Title">热门专题</div>
      <div class="topics-ztimg">
        <el-carousel height="180px" direction="vertical" :autoplay="true">
          <el-carousel-item v-for="(item, index) in RMlist" :key="index">
            <img :src="item.img" width="100%" height="100%">
            <div class="rm-title">{{item.title}}</div>
          </el-carousel-item>
        </el-carousel>
      </div>
    </div>
    <div class="cnxh cnxhtop">
      <div class="Title">文章类别</div>
      <div class="topics-list">
        <div class="bq-list" v-for="(item,index) in topicsList" :key="index" :class="item.color">{{item.name}}(123)</div>
      </div>
    </div>
    <div class="cnxh cnxhtop">
      <div class="Title">猜你喜欢</div>
      <Articles msg="love"/>
    </div>
    <div class="cnxh cnxhtop">
      <div class="Title">文章归档</div>
      <div class="topics-list">
        <div class="WZ-list" v-for="(item,index) in wzlist" :key="index">{{item}}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Articles from '@/components/Articles/Articles.vue';
@Component({
  components: {
    Articles,
  },
})
export default class Topics extends Vue {
  private RMlist: any = [{
          img: '/img/zhanweitu.jpg',
          title: '热门专题文章的标题',
        }, {
          img: '/img/zhanweitu.jpg',
          title: '热门专题文章的标题',
        }, {
          img: '/img/zhanweitu.jpg',
          title: '热门专题文章的标题',
        },
  ];
  private topicsList: any = [{
          name: '标签1',
          id: 1,
          color: 'ss0',
        }, {
          name: '标签2',
          id: 2,
          color: 'ss1',
        }, {
          name: '标签3',
          id: 3,
          color: 'ss2',
        }, {
          name: '标签4',
          id: 4,
          color: 'ss3',
        }, {
          name: '标签5',
          id: 5,
          color: 'ss4',
        },
      ];
  private wzlist: any = [
    '2019年8月', '2019年7月', '2019年6月', '2019年5月', '2019年4月', '2019年3月',
  ];
}
</script>
<style scoped lang="scss">
</style>
