<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-09-02 14:17:24
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-06 12:08:43
 -->
<template>
  <div class="essayDetails">
    <div class="content">
      <div class="content-left">
        <div class="wzxq-top">
          <div class="wz-title">文章标题文章标题文章标题文章标题</div>
          <div class="articles-list-zt">
            <div class="fb-wzbq"><router-link to="">文章标签</router-link></div>
            <div class="fb-ren"><router-link to="">发布人姓名</router-link></div>
            <div class="fb-time">2019-01-05 08:50</div>
            <div class="browse">1000浏览量</div>
            <div class="comment"><router-link to="">100评论</router-link></div>
          </div>
          <div class="wz-content">
            <div class="wz-neirong">{{content}}</div>
            <div class="dzfx">
              <div class="xihuan" @click="xihuan"><img :src="xhShow ? '/img/yixihuan.png' : '/img/xihuan.png'"><div>喜欢(12)</div></div>
              <div class="OR">or</div>
              <div class="shoucang" @click="shoucang"><img :src="scShow ? '/img/yishoucang.png' : '/img/shoucang.png'"><div>收藏(1)</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-right">
        <Topics msg="topics"/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Articles from '@/components/Articles/Articles.vue';
import Topics from '@/components/Topics/Topics.vue';

@Component({
  components: {
    Topics, Articles,
  },
})
export default class EssayDetails extends Vue {
  private xhShow: any = false;
  private scShow: any = false;
  private content: string = '不能说是牛逼的能力，因为我觉得我并没有什么牛逼的能力。我只能说有一些习惯或特性会对完成一件事情或达成一个目标更有帮助。';
  public xihuan() {
    this.xhShow = !this.xhShow;
  }
  public shoucang() {
    this.scShow = !this.scShow;
  }
}
</script>
<style scoped lang="scss">
  .demo-input-suffix,
  .cnxh{
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
  }
  .demo-input-suffix{
    margin-bottom: 10px;
  }
  .articles-list-zt{
    justify-content: initial
  }
  .articles-list-zt>div{
    margin-right: 20px;
  }
  .love{
    color: #ffffff
  }
</style>
