.demo-input-suffix,
.cnxh {
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
}

.demo-input-suffix {
  margin-bottom: 10px;
}

.articles-list-zt {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}

.fb-wzbq {
  background: url(../../../public/img/biaoqian.png) no-repeat 0% 50%/16px 16px;
  padding-left: 20px;
}

.fb-wzbq > a,
.fb-ren > a,
.comment > a {
  color: #00a67c;
}

.fb-ren {
  background: url("../../../public/img/wode.png") no-repeat 0% 50%/16px 16px;
  padding-left: 20px;
}

.fb-time {
  background: url(../../../public/img/time.png) no-repeat 0% 50%/18px 18px;
  padding-left: 22px;
  color: #999999;
}

.browse {
  background: url(../../../public/img/liulan.png) no-repeat 0% 50%/20px 20px;
  padding-left: 24px;
  color: #999999;
}

.comment {
  background: url(../../../public/img/pinglun.png) no-repeat 0% 50%/22px 22px;
  padding-left: 26px;
}

.love {
  color: #ffffff;
}

.content {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 69%;
}

.content-right {
  width: 30%;
}

.WZ-list {
  float: left;
  color: #00a67c;
  margin: 10px 46px 0 0;
}

.wzxq-top {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.wz-title {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  text-align: left;
}

.wz-content {
  text-align: left;
}

.wz-neirong {
  margin: 20px 0;
}

.dzfx {
  display: flex;
  justify-content: center;
}

.xihuan, .shoucang {
  width: 150px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #ffffff;
  margin: 0 3px;
  display: flex;
  justify-content: center;
}

.xihuan {
  background: #f78585;
}

.xihuan > img {
  width: 17px;
  height: 17px;
  margin: 10px 4px 10px 0;
}

.shoucang {
  background: #5fcec0;
}

.shoucang > img {
  width: 20px;
  height: 20px;
  margin: 7px 4px 7px 0;
}

.OR {
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  margin: 3px 0;
  text-align: center;
  line-height: 30px;
}
