<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-08-30 10:42:36
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-06 12:15:42
 -->
<template>
  <el-container>
    <el-header class="header">
      <el-menu
        :default-active="$route.path"
        class="el-menu-demo el"
        mode="horizontal"
        @select="handleSelect"
        router
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item class="logo">
          <img src="../../../public/img/boke.jpg">
        </el-menu-item>
        <el-menu-item v-for="(item, index) in navMenu" :index="item.path" :key = "index">
          {{item.title}}
        </el-menu-item>
        <el-menu-item index="6" class="user">
          <img src="../../../public/img/logoyuan.jpg">
          <a href="javascript:;">用户昵称</a>
        </el-menu-item>
      </el-menu>
    </el-header>
    <div class="Welcome">
      <div class="welcome-img">欢迎来访~~~</div>
      <div class="tg-img">投稿</div>
    </div>
  </el-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Header extends Vue {
  private navMenu: any = [{
          title: '首页',
          path: '/index',
        }, {
          title: '文章分类',
          path: '/essay',
        }, {
          title: '写文章',
          path: '',
        }, {
          title: '留言板',
          path: '/message',
        }, {
          title: '登陆 / 注册',
          path: '',
        },
      ];
  public handleSelect(key: any, keyPath: any) {
    window.console.log(key, keyPath);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
