.content{
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.content-left{
  width: 69%
} 
.content-right{
  width: 30%
}
.Title{
  text-align: left;
  border-bottom: 1px solid #00a67c;
  padding: 0 0 20px 0;
  background: #ffffff;
}
.cnxh{
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
}
.user-interact{
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 20px 0;
  box-sizing: border-box;
}
.user-interact::before{
  content: "";
  background: url(../../../public/img/gerenzhongxinbeijingtu.jpg) no-repeat 100% 100%/100% 100%;
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  top: 178px;
  left: 0px;
  width: 69%;
  height: 100%;
}
.user-name{
  line-height: 40px;
  display: flex;
  font-size: 14px;
  color: #9aabb2;
}
.user-name>img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.user-interact-item{
  width: 92%;
  background: #ffffff;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}
.user-message{
  font-size: 16px;
  margin: 20px 0;
}
.user-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.user-time{
  color: #202020;
}
.user-huifu{
  color: #a6ddec;
}
.emoji{
  margin: 20px 0px 20px 0px;
  font-size: 14px;
  text-align: left;
}
.emoji-submit{
  margin: 30px 0 0 30px;
  display: flex;
  justify-content: space-between;
  color: #999999;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.submit{
  padding: 0px 20px;
  box-sizing: border-box;
  background: #00a67c;
  color: #ffffff;
  font-size: 14px;
}
.user-item-list{
  font-size: 14px;
  background: #eeeeee;
  padding: 0 20px;
  margin-top: 10px;
}
.user-item-list>div{
  padding: 20px 0;
  box-sizing: border-box;
}
.user-news{
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
}
.edit{
  color: #00a67c;
  text-align: right;
  flex: 1;
}
.user-list{
  padding: 10px 0 10px 4px;
}
.Label-list{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #a6ddec;
  font-size: 14px;
  text-align: center;
}
// 编辑弹窗
.edit-modul{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll;
}
.user-edit{
  width: 500px;
  background: #ffffff;
  border-radius: 10px;
  margin: 150px auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}
.user-edit-title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.avatar {
  width: 78px;
  height: 78px;
  display: block;
}
