<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-09-09 09:44:30
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-09 16:06:46
 -->
<template>
  <div class="User-wrap">
    <div class="content">
      <div class="content-left">
        <div class="Title" style="padding: 20px 0 20px 20px;border-bottom:initial;">用户互动记录</div>
        <div class="user-interact">
          <div class="user-interact-item" v-for="(item,index) in listing" :key="index">
            <div class="user-name">
              <img :src="item.img">
              <font>{{item.name}}</font>
            </div>
            <div class="user-message">{{item.content}}</div>
            <div class="user-bottom">
              <div class="user-time">{{item.time}}</div>
              <div class="user-huifu" @click="reply(index)">回复</div>
            </div>
            <div class="user-item-list">
              <div @click="reply(index)">二级留言者姓名：二级留言内容</div>
            </div>
            <div class="emoji" v-if="remlyShow && id == index">
              <VueEmoji ref="emoji" @input="onInput" :value="myText" width="100%"/>
              <div class="emoji-submit">
                <div>表情</div>
                <div class="submit">提交</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-right">
        <div class="user-news">
          <div class="user-name">
            <img src="/img/gerenzhongxinbeijingtu.jpg">
            <font>用户姓名</font>
            <div class="edit" @click="Edit">编辑</div>
          </div>
          <div class="user-list">微信：wh1254871</div>
          <div class="user-list">职业：web前端</div>
          <div class="user-list">爱好：旅游，唱歌</div>
          <div class="user-list">喜欢的音乐：只要好听就行，偏爱粤语！</div>
          <div class="user-list">人性格言：少评价多观察</div>
          <div class="Label-list">
            <div class="Label-list-item" v-for="(item,index) in labelist" :key="index">
              <div class="Label-list-item-num">{{item.num}}</div>
              <div class="Label-list-item-name">{{item.title}}</div>
            </div>
          </div>
        </div>
        <div class="cnxh">
          <div class="Title">历史记录</div>
          <Articles msg="love"/>
        </div>
      </div>
    </div>
    <div class="edit-modul" v-if="editShow">
      <div class="user-edit">
        <div class="user-edit-title">个人信息</div>
        <el-form ref="form" :model="form" label-width="82px">
          <el-form-item label="头像">
            <el-upload
              class="avatar-uploader"
              action="https://jsonplaceholder.typicode.com/posts/"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :before-upload="beforeAvatarUpload">
              <img v-if="form.imageUrl" :src="form.imageUrl" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-form-item>
          <el-form-item label="昵称">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="微信">
            <el-input v-model="form.WeChat"></el-input>
          </el-form-item>
          <el-form-item label="职业">
            <el-select v-model="form.vocation" placeholder="请选择职业">
              <el-option label="职业一" value="shanghai"></el-option>
              <el-option label="职业二" value="beijing"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="爱好">
            <el-checkbox-group v-model="form.type">
              <el-checkbox label="旅游" name="type"></el-checkbox>
              <el-checkbox label="K歌" name="type"></el-checkbox>
              <el-checkbox label="看书" name="type"></el-checkbox>
              <el-checkbox label="玩游戏" name="type"></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <el-form-item label="喜欢的音乐">
            <el-input type="textarea" v-model="form.Music"></el-input>
          </el-form-item>
          <el-form-item label="人生格言">
            <el-input type="textarea" v-model="form.desc"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button @click="editCancel">取消</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./User.ts"></script>

<style lang="scss" scoped>
  @import './User.scss';
  @import '../../../public/css/public';
  .User-wrap {
    width: 100%;
  }
</style>

