<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-08-30 10:49:35
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-06 09:43:07
 -->
<template>
  <div class="message-wrap">
    <div class="message-title">
      <img src="../../../public/img/wode.png">
      <font>发表我的评论</font>
    </div>
    <div class="emoji">
      <div v-for="(item,index) in list" :key="index" class="vux-center-h">
        <emotion>{{item}}</emotion>
        <emotion is-gif>{{item}}</emotion>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./message.ts"></script>

<style lang="scss" scoped>
  @import './message.scss';
  .message-wrap {
    width: 100%;
  }
</style>

