.message-wrap{
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 10px;
  padding: 20px 0;
}
.message-title{
  background: #f7f7f7;
  height: 50px;
  text-align: left;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  line-height: 50px;
}
.message-title>img{
  width: 32px;
  height: 32px;
  margin-top: 9px;
  display: block;
  background: #cacaca;
} 
.message-title>font{
  font-size: 14px;
  margin-left: 10px;
}