.demo-input-suffix {
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
}

.demo-input-suffix {
  margin-bottom: 10px;
}

.el-carousel--horizontal {
  background-color: #545c64;
  margin-top: 10px;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.8;
  line-height: 400px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

.content {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content-left {
  width: 69%;
}

.content-right {
  width: 30%;
}

.Title {
  text-align: left;
  border-bottom: 1px solid #00a67c;
  padding: 0 0 20px 0;
  background: #ffffff;
}

.cnxh {
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
}
