<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-09-02 14:06:59
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-06 12:08:19
 -->
<template>
  <div class="home">
    <el-carousel :interval="4000" type="card" height="400px">
      <el-carousel-item v-for="item in 6" :key="item">
        <h3 class="medium">{{ item }}</h3>
      </el-carousel-item>
    </el-carousel>
    <div class="content">
      <div class="content-left">
        <div class="Title" style="padding: 20px 0 20px 20px;">热门推荐</div>
        <Articles msg="tuijian"/>
      </div>
      <div class="content-right">
        <div class="demo-input-suffix">
          <el-input
            placeholder="请输入内容"
            prefix-icon="el-icon-search"
            v-model="input">
          </el-input>
        </div>
        <div class="cnxh">
          <div class="Title">猜你喜欢</div>
          <Articles msg="love"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Articles from '@/components/Articles/Articles.vue';

@Component({
  components: {
    Articles,
  },
})
export default class Home extends Vue {
  private input: any = '';
}
</script>
<style scoped lang="scss">
  .demo-input-suffix{
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
  }
  .demo-input-suffix{
    margin-bottom: 10px;
  }
</style>
