<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-08-12 15:03:25
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-06 12:10:45
 -->
<template>
  <div id="app" v-loading.fullscreen.lock="$store.state.acceptLoading">
    <Header msg="headerNav"/>
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive"></router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive"></router-view>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import Header from './components/Header/Header.vue'
export default {
  name: 'app',
  components: {
    HelloWorld, Header
  },
  data() {
    return {
      fullscreenLoading: true
    }
  }
}
</script>

<style  lang="sass">
@import '../public/css/public'
#app
  width: 100%
  height: 100%
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  margin-bottom: 20px
body
  margin: initial !important
  background: #eeeeee
@media only screen and ( max-width: 960px)
  #app
    width: 960px !important

</style>
