<!--
 * @Descripttion: 
 * @version: 1.0.0
 * @Author: Velen
 * @Date: 2019-08-30 10:49:35
 * @LastEditors: Velen
 * @LastEditTime: 2019-09-09 11:58:56
 -->
<template>
  <div class="message">
    <div class="message-title">
      <img src="/img/wode.png">
      <font>发表我的评论</font>
    </div>
    <div class="emoji">
      <VueEmoji ref="emoji" @input="onInput" :value="myText" width="100%"/>
      <div class="emoji-submit">
        <div>表情</div>
        <div class="submit">提交评论</div>
      </div>
    </div>
    <div class="tucao">(124)个小伙伴在吐槽</div>
    <div class="Comments">
      <div class="Comments-warp">
        <img src="/img/zhanweitu.jpg">
        <div class="Comments-right">
          <div class="Comments-right-top">评论内容</div>
          <div class="Comments-right-bot">
            <div v-for="(item,index) in commentsList" :key="index" class="mes-list">
              <font v-if="index == 0 || index == 1" style="color:#999999;">{{item}}</font>
              <font v-if="index == 2" style="color:#00a67c;" @click="reply">{{item}}</font>
              <font v-if="index == 3" :class="!likeShow ? 'meslove' : 'mesloveSolid'" @click="like">{{item}}</font>
              <font v-if="index == 4" :class="!DislikeShow ? 'mesNolove' : 'mesNoSolid'" @click="Dislike">{{item}}</font>
            </div>
          </div>
          <div class="emoji" v-if="remlyShow">
            <VueEmoji ref="emoji" @input="onInput" :value="myText" width="100%"/>
            <div class="emoji-submit">
              <div>表情</div>
              <div class="submit">提交评论</div>
            </div>
          </div>
          <!-- 回复评论区 -->
          <div class="Comments-warp" style="margin-top:20px;border:initial;padding-bottom: initial;">
            <img src="/img/zhanweitu.jpg">
            <div class="Comments-right">
              <div class="Comments-right-top">回复评论内容</div>
              <div class="Comments-right-bot">
                <div v-for="(item,index) in commentsList" :key="index" class="mes-list">
                  <font v-if="index == 0 || index == 1" style="color:#999999;">{{item}}</font>
                  <font v-if="index == 2" style="color:#00a67c;" @click="reply">{{item}}</font>
                  <font v-if="index == 3" :class="!likeShow ? 'meslove' : 'mesloveSolid'" @click="like">{{item}}</font>
                  <font v-if="index == 4" :class="!DislikeShow ? 'mesNolove' : 'mesNoSolid'" @click="Dislike">{{item}}</font>
                </div>
              </div>
            </div>
          </div>
          <!-- 回复评论区完 -->
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import VueEmoji from 'emoji-vue';

  @Component({
    components: {
      VueEmoji
    }
  })
  export default class Message extends Vue {
    private myText: string = '说点什么呢~~~'
    private commentsList: any = [
      '留言人姓名', '2019-01-10 10:30', '回复', '喜欢', '不喜欢'
    ]
    private likeShow: any = false
    private DislikeShow: any = false
    private remlyShow: any = false
    public reply() {
      this.remlyShow = !this.remlyShow
    }
    // 表情包输入框内容
    public onInput(event: any) {
      console.log(event.data);
    }
    public clearTextarea() {
      // this.$refs.emoji.clear()
    }
    public like() {
      this.likeShow = !this.likeShow;
    }
    public Dislike() {
      this.DislikeShow = !this.DislikeShow;
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../../public/css/public';
  @import '../../../public/css/style';
</style>

